<!-- Styles  -->
<style> 

    :root {
        --primary: {{ site.data.site-settings.design.primary_color }};
        --secondary: {{ site.data.site-settings.design.secondary_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --medium: {{ site.data.site-settings.design.medium_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --v-light: {{ site.data.site-settings.design.v-light_color }};
        --featured: {{ site.data.site-settings.design.featured_color }};
        --accent: {{ site.data.site-settings.design.accent_color }}; 
    }

</style> 