<!DOCTYPE html>
<html lang="en">

<head>
    {% include default/head.html %}
</head>

<body>

    <!------------ Brand/Design Colours ------------->
    {% include default/inline-styles.html %}

    <!------------ Bookshop ------------------------->
    {% bookshop_include page content_blocks=page.content_blocks %}

    {{content}}





    
<!------------ Javascript------------------------->

<!-- Add jQuery ----------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>


<!-- Custom javascript style ---->
<script src="/javascript/main.js" defer></script>
</body>

</html>